body {
  background-color:Green;
  font-family: 'Times New Roman',sans-serif;
  margin: 20px;
  padding: 20px;
  font-size: 30px;
} 

header {
  background-color: yellowgreen;
  color: indianred;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  font-size: 25px;
}
   
section {
  background-color: indianred;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

a {
  color: lavander;
  text-decoration: underline;
}  
a:hover {
    text-decoration: underline;
}
